<html>
	<head>	
		<title>combo-box demo</title>
	</head>
  <body ng-app="myApp">
  
  <div ng-controller="myCtrl" >
  	
  	<input type="text" list="data"   ng-model="list"  ng-keydown="removeCount($event)" >
  	<p>{{count}}</p>
  	<datalist id="data"  ng-hide="true">
  	
  		<option  ng-repeat="names in datalist.names | filter:list" value="{{names.name}}"></option>
  	
  	</datalist>
  	
  	
  </div>
  	
  	<!-- angularJS part-->
  	
  	<script src="angularJS/angular.min.js"></script>
  	
  	<script>
  	
  		var app=angular.module("myApp",[]);
  		app.controller("myCtrl",function($scope){
  			
  			$scope.count=0;
  		 	//$scope.status=true;
  		 	
  		 	
  			$scope.datalist={names:[{name:"taj"},{name:"kumar"},{name:"rakesh"},{name:"rajesh"},{name:"kunal"},{name:"hari"},		{name:"santosh"},{name:"sukumari"},{name:"swapna"},{name:"sai"}]};	
  			
  	/*	$scope.showList=function(event){
  			if(event.keyCode==8)
  			$scope.status=false;
  			else
  			$scope.status=true;
  		};*/
  			
  			
  			$scope.removeCount=function(event){
  				if(event.keyCode===8)
  				$scope.count=$scope.count-1;
  				else 
  				$scope.count=$scope.count+1;
  			
  			};
  		
  		
  		});
  	
  	</script>
  	
  </body>	
	
</html>

    
