 
 <head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="css"/>

 </head>
 
  <center>
        <h1>Select Product</h1>
      </center>
      
      <form action="/display" method="POST">
      
        <div class="container well">
        <select class="btn btn-primary" name="type">
        <option >Select Product Type</option>
          <option name="TV">TV</option>
          <option name="MOBILE">MOBILE</option>
        </select>          
         <input type="submit">
        </div>

       </form>
     
