<div class="container well widthSize" ng-controller="loginCtrl">
    <center><span id="errorMessage" ng-show="tab">Please try again....</span>
    </center>
    <center>
        <h1>Login Form</h1>
    </center>
    <form class="form-horizontal" name="loginForm" ng-submit="checkValidation()" novalidate>
        <div class="form-group ">
            <label class="control-label col-xs-3">Email:</label>
            <div class="col-xs-9">
                <input type="email" name="loginEmail" ng-model="formdata.loginEmail" class="form-control" required /><span ng-show="loginForm.loginEmail.$dirty && loginForm.loginEmail.$error.required">required</span>
                <span class="error" ng-show="loginForm.loginEmail.$error.email">invalid email</span>
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-xs-3">Password:</label>
            <div class="col-xs-9">

                <input type="password" name="loginPassword" ng-model="formdata.loginPassword" class="form-control" required/><span ng-show="loginForm.loginPassword.$dirty && loginForm.loginPassword.$error.required ">required</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" value="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" />

            </div>
        </div>

    </form>

</div>