<form name="calculator" ng-controller="CalculatorCtrl">

    <div class="container well well2" align="center" id="calButton">

        <input type="text" name="values" size="27" class="form-control" ng-model="output" />
        <br>
        <br>

        <button class="btn btn-default" ng-click="updateOutput(1)">
            <label>1</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" ng-click="updateOutput(2)">
            <label>2</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" ng-click="updateOutput(3)">
            <label>3</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
        <button class="btn btn-default" ng-click="updateOutput(4)">
            <label>4</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" ng-click="updateOutput(5)">
            <label>5</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" ng-click="updateOutput(6)">
            <label>6</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
        <button class="btn btn-default" ng-click="updateOutput(7)">
            <label>7</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" ng-click="updateOutput(8)">
            <label>8</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" ng-click="updateOutput(9)">
            <label>9</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;

        <br>

        <button class="btn btn-default" ng-click="updateOutput(0)">
            <label>0</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" ng-click="multiplication()">
            <label>*</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" ng-click="divide()">
            <label>/</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <br>

        <button class="btn btn-default" ng-click="add()">
            <label>+</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" ng-click="subtract()">
            <label>-</label>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-click="calculate()">
            <label>=</label>
        </button>
        <br>



    </div>
</form>