<div class="container well" id="unitConverting" ng-controller="UnitController">
    <form name="UnitForm" class="form-inline">
        <center>

            <select class="btn btn-primary" ng-model="select" ng-change="setState(select)">
                <option ng-selected="true">select</option>
                <option value="1">
                    Weight Converter
                </option>
                <option value="2">Distance Converter
                </option>
                <option value="3">Volume Converter
                </option>

            </select>
        </center>

        <!--Weight Converter-->

        <div ng-show="getState(1)">
            <h1>Weight</h1>
            <br>
            <label>Kilograms :</label>
            <input type="text" size="10" class="form-control" ng-model="kilo" ng-keyUp="tab=checkPound()" />&nbsp;&nbsp;<span ng-show="UnitForm.kilo.$dirty || tab">invalid value</span>&nbsp;&nbsp;
            <br>
            <br>
            <label>Pounds :</label>
            <input type=" text " size="10 " class="form-control " ng-model="pound " ng-keyUp="tab1=checkWeight() " />&nbsp;&nbsp;<span ng-show="UnitForm.pound.$dirty || tab1">invalid value</span>&nbsp;&nbsp;
            <br>
        </div>


        <!--Volume Converter-->

        <div ng-show="getState(3)">
            <h1>Volume</h1>

            <br>

            <label>Liters :</label>
            <input type="text " size="10 " class="form-control " ng-model="litr " ng-keyUp="tab4=checkGallon() " />&nbsp;&nbsp;<span ng-show="UnitForm.litr.$dirty || tab4">invalid value</span>&nbsp;&nbsp;
            <br>
            <br>

            <label>Gallon :</label>
            <input type="text " size="10 " class="form-control " ng-model="gallon " ng-keyUp="tab5=checkLtr() " />&nbsp;&nbsp;<span ng-show="UnitForm.gallon.$dirty || tab5">invalid value</span>&nbsp;&nbsp;
            <br>
        </div>


        <!--Distance Converter-->



        <div ng-show="getState(2)">
            <h1>Distance</h1>
            <br>
            <label>Kilometers :</label>
            <input type="text " size="10 " class="form-control " ng-model="kilometer " ng-keyUp="tab2=checkMile() " />&nbsp;&nbsp;<span ng-show="UnitForm.kilometer.$dirty || tab2">invalid value</span>&nbsp;&nbsp;
            <br>
            <br>

            <label>Miles :</label>
            <input type="text " size="10 " class="form-control " ng-model="mile " ng-keyUp="tab3=checkKilometer() " />&nbsp;&nbsp;<span ng-show="UnitForm.mile.$dirty || tab3">invalid value</span>&nbsp;&nbsp;
            <br>
        </div>




    </form>
</div>