   .well2 {
       width: 270px;
       background-color: black;
       border-radius: 10px;
   }
   
   #calButton button {
       height: 50px;
       width: 60px;
   }
   
   #centering {
       position: absolute;
       top: 120px;
       left: 650px;
   }
   
   #unitConverting {
       width: 500px;
       position: : absolute;
       background-color: cyan;
       top: 120px;
       border-radius: 8px;
   }
   
   #unitConverting input {
       position: absolute;
       left: 120px;
   }
   
   #unitConverting label {
       position: absolute;
       left: 20px;
   }
   
   #unitConverting span {
       position: absolute;
       left: 250px;
       color: red;
   }
   
   #bmiStyling input[type="text"] {
       width: 250px;
   }
   
   #bmiStyling {
       width: 290px;
   }
   
   .well3 {
       background-color: aliceblue;
   }